
				<!-- Sidebar wrapper starts -->
				<nav id="sidebar" class="sidebar-wrapper">

					<!-- App brand starts -->
					<div class="app-brand p-3 mb-3" id="appBrand">
						<a href="/">
							<img src="/images/logo.png" class="logo" alt="Logo">
						</a>
					</div>
					<!-- App brand ends -->

					<!-- Sidebar menu starts -->
					<div class="sidebarMenuScroll os-host os-theme-dark os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition"><div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px; width: 249px; height: 508px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible"><div class="os-content" style="padding: 0px; height: 100%; width: 100%;">
						<ul class="sidebar-menu">
                            <li class="active current-page">
								<a href="/">
									<i class="bi bi-pie-chart"></i>
									<span class="menu-text">About</span>
								</a>
							</li>
							<li class="treeview">
								<a href="/#!">
									<i class="bi bi-ui-checks-grid"></i>
									<span class="menu-text">Comparison</span>
								</a>
								<ul class="treeview-menu">
									<li>
										<a href="/by_region.html">By Region</a>
									</li>
									<li>
										<a href="/by_sector.html">By Sector</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/economy.html">
									<i class="bi bi-bar-chart-line"></i>
									<span class="menu-text">Economy</span>
								</a>
							</li>
							<li>
								<a href="/education.html">
									<i class="bi bi-globe"></i>
									<span class="menu-text">Education</span>
								</a>
							</li>
							<li>
								<a href="/health.html">
									<i class="bi bi-shop-window"></i>
									<span class="menu-text">Health</span>
								</a>
							</li>
							<li>
								<a href="/Population.html">
									<i class="bi bi-terminal-split"></i>
									<span class="menu-text">Population</span>
								</a>
							</li>
							<li>
								<a href="/energy.html">
									<i class="bi bi-send"></i>
									<span class="menu-text">Energy</span>
								</a>
							</li>
							<li>
								<a href="/infrastructure.html">
									<i class="bi bi-mouse3"></i>
									<span class="menu-text">Infrastructre</span>
								</a>
							</li>
							<li>
								<a href="/environment.html">
									<i class="bi bi-clipboard-check"></i>
									<span class="menu-text">Environment</span>
								</a>
							</li>
							<li>
								<a href="/sustainability.html">
									<i class="bi bi-headphones"></i>
									<span class="menu-text">Sustainability</span>
								</a>
							</li>
						</ul>
					</div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track os-scrollbar-track-off"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track os-scrollbar-track-off"><div class="os-scrollbar-handle" style="height: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
					<!-- Sidebar menu ends -->

					<!-- Sidebar settings starts -->
					<!-- <div class="sidebar-settings gap-2 d-lg-flex d-none">
						<a href="/login" class="settings-icon bg-dark" data-bs-toggle="tooltip" data-bs-placement="top"
							title="Profile">
							<i class="bi bi-person"></i>
						</a>
						<a href="/" class="settings-icon bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Logout" data-bs-original-title="Logout">
							<i class="bi bi-power"></i>
						</a>
					</div> -->
					<!-- Sidebar settings ends -->

				</nav>
				<!-- Sidebar wrapper ends -->
